<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">
            org.hibernate.dialect.MySQLDialect
        </property>
        <property name="hibernate.connection.driver_class">
            com.mysql.cj.jdbc.Driver
        </property>
        <!-- Assume test is the database name -->
        <property name="hibernate.connection.url">
            mysql://r6ze0q02l4me77k3.chr7pe7iynqr.eu-west-1.rds.amazonaws.com:3306/jtmosjyo6i6vemdh
        </property>
        <property name="hibernate.connection.username">
            k3v6dfq2o04qvq85
        </property>
        <property name="hibernate.connection.password">
            onhip8xmlgk2007m
        </property>
        <property name="show_sql">true</property>
        <mapping class="com.wikigreen.model.User"/>
        <mapping class="com.wikigreen.model.Account"/>
        <mapping class="com.wikigreen.model.File"/>
        <mapping class="com.wikigreen.model.Event"/>
    </session-factory>
</hibernate-configuration>